@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400);

body{
	margin:0; 
	padding:0;
	background-color: #bdc3c7;
}

#dragMe{
	position: absolute;
	left: 75px;
	top: 25px;
	font-family: 'Alegreya Sans SC';
	font-weight: 400;
	color : #ecf0f1;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px #000;
}
.vertex{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 0px;
	left: 0px;
	border-radius: 50%;
	border: 4px solid;
	text-align: center;
	line-height: 45px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	font-family: 'Alegreya Sans SC';
	font-weight: 400;
	color: white;
	z-index: 10;

	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;

	-moz-transition-property: -moz-transition;
	-moz-transition-duration: 1s;
}

.vertex:hover{
 	transition: all 0.1s ease-in-out;
 	-ms-transform: scale(1.25,1.25); 
	-webkit-transform: scale(1.25,1.25);
	transform: scale(1.25,1.25);
}


.vertex:active{
	-webkit-animation-name: rotate;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;

	-moz-animation-name:rotate;
	-moz-animation-duration: 2s;
	-moz-animation-duration: infinite;
	-moz-animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

.edge{
	stroke: #141414;
	stroke-width:2;
	position:absolute;
	background-color: rgba(255, 255, 255, 0.0);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	z-index: 1;
}

#resetEdges{
	position: absolute;
	width: 60px;
	font-family: 'Alegreya Sans SC';
	font-weight: 400;
	color : #ecf0f1;
	outline: none;
	border: 2px solid #95a5a6;
	background-color: rgba(255, 255, 255, 0.0);
	text-shadow: 1px 1px 1px #000;
	border-radius: 5px;
	left: 82.5px;
	top: 195px;
}

#resetEdges:hover{
 	background: #95a5a6;
	-webkit-transition: background-color  1s;
	-moz-transition: background-color 1s;
	-o-transition: background-color  1s;
	transition: background-color  1s;
}

#resetEdges:active{
 	transition: all 0.1s ease-in-out;
 	-ms-transform: scale(1.2,1.2); 
	-webkit-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}

#ui{
	position: absolute;
	top: 165px;
	left: 25px;
	width: 225px;
	height: 400px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 5%;
	display: block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

#creation{
	display: inline;
	width:225px;
	height: 375px;
	position: absolute;

}

#algorithms{	
	display: none;
	position: absolute;
	width:225px;
	height:400px;
}

#functionTab{
	position: absolute;
	width: 87.5px;
	height: 25px;
	left: 25px;
	outline: none;
	background-color: rgba(0, 0, 0, 0.0);
	z-index: 6;
}

#creationTab{
	position: absolute;
	width: 87.5px;
	height: 25px;
	left: 112.5px;
	outline: none;
	background-color: rgba(0, 0, 0, 0.0);
	z-index: 6;
}

.active{
	font-family: 'Alegreya Sans SC';
	font-weight: 400;
	color : #ecf0f1;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top-color: #141414;
	border-left-color:  #141414;
	border-right-color:  #141414;
	border-bottom: 0px;
}

.inactive{
	font-family: 'Alegreya Sans SC';
	font-weight: 400;
	color : #ecf0f1;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top: 0px solid;
	border-left: 0px solid;
	border-right: 0px solid;
	border-top-color: #141414;
	border-left-color:  #141414;
	border-right-color:  #141414;
	border-bottom: 0px;
}

.inactive:hover{
	text-shadow: 1px 1px 1px #000;
}

#fill1{
	display: inline;
	position: absolute;
	width: 25px;
	height: 1px;
	top: 24px;
	background-color: #141414;
}
#fill2{
	display: none;
	position: absolute;
	height: 1px;
	background-color: #141414;
	left: 0px;
	width: 112.5px;
	top: 24px;
}
#fill3{
	display: inline;
	position: absolute;
	width: 112.5px;
	left: 112.5px;
	height: 1px;
	top: 24px;
	background-color: #141414;
}
#fill4{
	display: none;
	position: absolute;
	left: 200px;
	width: 25px;
	height: 1px;
	background-color: #141414;
	top: 24px;
}

.inputFieldDiv{
	position: relative;
	width: 100px;
	height:  35px;
	border-radius: 6px;
	border: 2px solid;
	border-color: #bdc3c7;
	left:  100px;
}

.inputField{
	position: relative;
	width: 100px;
	height:  35px;
	background-color: #ecf0f1;
	border: 0px;
	outline: none;
	padding-left: 25px;
	border-radius: 3px;
	border: 1px solid;
	border-color: #bdc3c7;
	font-family: 'Alegreya Sans SC';
	font-weight: 400;
}

.inputFieldDiv:hover{
	border-color: #7f8c8d;
	-webkit-transition: border-color  0.5s;
	-moz-transition: border-color 0.5s;
	-o-transition: border-color  0.5s;
	transition: border-color  0.5s;
}

.text{
	position: relative;
	font-family: 'Alegreya Sans SC';
	font-weight: 400;
	color : #ecf0f1;
	left: 100px;
	text-shadow: 1px 1px 1px #000;
}
#discoveryEdge{
	position: relative;
	top: 55px;
	font-family: 'Alegreya Sans SC';
	font-weight: 400;
	color : #2ecc71;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
}

#crossbackEdge{	
	position: relative;
	top: 65px;
	font-family: 'Alegreya Sans SC';
	font-weight: 400;
	color : #e74c3c;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
}

.button{
	background-color: #7f8c8d;
	border: 2px solid #95a5a6;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	outline: none;
}

.button:hover{
 	background: #95a5a6;
	-webkit-transition: background-color  0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color  0.5s;
	transition: background-color  0.5s;
}

.button:active{
 	transition: all 0.1s ease-in-out;
 	-ms-transform: scale(1.5,1.5); 
	-webkit-transform: scale(1.5,1.5);
	transform: scale(1.5,1.5);
}

#HTMLButton{
	position: relative;
	top: 55px;
	left: 25px;
}

#myGraph{
	position: absolute;
	font-family: 'Alegreya Sans SC';
	font-weight: 400;
	color : #ecf0f1;
	font-size: 35px;
	left: 45px;
}

/*
	BG:Turquoise - #1abc9c
	B:Green Sea - #16a085
	
	Emerald - #2ecc71
	Nephritis - #27ae60

	Peter River - #3498db
	Belize Hole - #2980b9

	Amethyst - #9b59b6
	Wisteria - #8e44ad

	Wet Asphalt - #34495e
	Midnight Blue - #2c3e50

	Sun Flower - #f1c40f
	Orange - #f39c12
	
	Carrot - #e67e22
	Pumpkin - #d35400

	Alizarin - #e74c3c
	Pomegranate - #c0392b

	Clouds - #ecf0f1
	Silver - #bdc3c7

	Concrete - #95a5a6
	Asbestos - #7f8c8d

